@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&family=Roboto:wght@100;300;400&display=swap");
// fonts
$titlefonts: "Barlow Semi Condensed",
sans-serif;
$generalfonts: "Roboto",
sans-serif;

// sizes
$txth1:4rem;
$txth2:3rem;
$txth3:2.5rem;
$txtg:2rem;