//proyect
// revisar bg head de main
#body {
  display: flex;
  flex-direction: column;
  min-height: $hv;

  // nav principal
  #nav {
    top: ($px - 500);
    left: ($px - 500);
    background: linear-gradient(to left, map-get($map:$bgcolors, $key:'bgnavline1', ), map-get($map:$bgcolors, $key:'bgnavline2', ), map-get($map:$bgcolors, $key:'bgnavline3', ), map-get($map:$bgcolors, $key:'bgnavline2', ), map-get($map:$bgcolors, $key:'bgnavline1', ));
    display: flex;
    justify-content: space-between;
    min-height: ($px - 460);
    max-height: ($px - 460);

    a {
      align-self: center;
      text-decoration: none;

      span {
        font-size: $txtg;
        font-family: $titlefonts;
        margin-left: ($px - 495);
        color: map-get($map: $colorf, $key: 'black');

        &:hover {
          color: map-get($map: $colorf, $key: 'blue');
          transform: 300ms;
        }
      }
    }

    ul.dis {
      display: flex;
      justify-content: space-around;
      width: ($ptj - 70);
      margin-bottom: ($px - 500);
      padding-left: ($px - 500);

      li {
        list-style: none;
        align-self: center;

        a {
          font-size: ($txtg - 0.5);
          font-family: $titlefonts;
          color: map-get($map: $colorf, $key: 'black');

          &:hover {
            color: map-get($map: $colorf, $key: 'blue');
            transform: 300ms;
          }
        }
      }
    }

    .navbar {
      padding-top: ($px - 500);
      padding-bottom: ($px - 500);
      width: ($ptj - 70);
      display: none;

      a {
        font-size: 1.5rem;
        font-family: $titlefonts;
        color: map-get($map: $colorf, $key: 'black');

        &:hover {
          color: map-get($map: $colorf, $key: 'blue');
          transform: 300ms;
        }
      }
    }

    .container-fluid {
      padding-right: ($px - 500);
      padding-left: ($px - 500);
      margin-right: ($px - 500);
      margin-left: ($px - 500);

      ul.dropdown {
        margin-left: auto;
        margin-right: ($px - 495);
        margin-bottom: ($px - 500);
        padding-left: ($px - 500);

        li.navbar-toggle {
          border: ($px - 500);
          list-style: none;
          align-self: center;

          ul {
            background-color: map-get($map: $bgcolors, $key: 'bgdrop');
            border-radius: ($px - 495);
            border: map-get($map: $bgcolors, $key: 'bgw') solid ($px - 499);

            &:hover {
              background-color: map-get($map: $bgcolors, $key: 'bgdrophover');
              color: map-get($map: $colorf, $key: 'white');
            }

            li {
              list-style: none;
              align-self: center;
            }
          }
        }
      }
    }
  }

  // main index
  .bg__main {
    display: flex;
    flex-direction: column;

    //nav secundaria
    #nav2 {
      display: flex;
      justify-content: center;
      width: $ptj;
      background-color: map-get($map: $bgcolors, $key: 'bgnav2');
      margin-top: ($px - 480);

      .navbar {
        padding-top: ($px - 490);
        padding-bottom: ($px - 490);

        ul {
          padding: ($px - 500);

          .nav-item {
            margin-inline: ($px - 495);
          }

          a {
            color: map-get($map: $colorf, $key: 'white');

            &:hover {
              color: map-get($map: $colorf, $key: 'gy');
              transition: 500ms;
              font-weight: 500;
            }
          }

          .dropdown-menu {
            background-color: map-get($map: $bgcolors, $key: 'bgdrop');
            border-radius: ($px - 495);
            border: map-get($map: $bgcolors, $key: 'bgw') solid ($px - 499);
            padding-block: ($px - 490);

            &:hover {
              background-color: map-get($map: $bgcolors, $key: 'bgdrophover');
              color: map-get($map: $colorf, $key: 'white');
            }
          }
        }
      }
    }

    .section__index {
      display: flex;
      flex-direction: column;
      align-self: center;
      padding: ($px - 490);
      width: $ptj;

      h2 {
        text-align: justify;
        color: map-get($map: $colorf, $key: 'white');
        font-weight: 400;
        width: ($ptj - 20);
        align-self: center;
        font-size: $txtg;
        margin-bottom: ($px - 485);
      }
    }

    .container__carrousel {
      width: ($ptj - 20);
      display: flex;
      align-self: center;

      .carousel-item div {
        text-align: center;
      }

      .card {
        flex-flow: row;
        border: ($px - 500);
        background-color: transparent;

        .card__div {
          width: ($ptj - 40);

          img {
            width: $ptj;
            height: $ptj;
            border: map-get($map: $bgcolors, $key: 'bgw') solid ($px - 499.90);
          }
        }

        .card-body {
          padding: ($px - 450);
          width: ($ptj - 60);
          border: map-get($map: $bgcolors, $key: 'bgw') solid ($px - 499.90);
          display: flex;
          flex-direction: column;
          justify-content: center;

          a {
            color: map-get($map: $colorf, $key: 'white');
            font-size: ($wv - 98.5);
            text-decoration: none;
            text-align: justify;

            &:hover {
              color: map-get($map: $colorf, $key: 'gy');
              font-weight: 500;
              transition-delay: 150ms;
            }
          }

          h3 {
            color: map-get($map: $colorf, $key: 'white');
            text-align: justify;

            &:hover {
              color: map-get($map: $colorf, $key: 'gy');
              font-weight: 500;
              transition-delay: 150ms;
            }
          }
        }
      }

      .carousel-control-next,
      .carousel-control-prev {
        width: ($ptj - 95);
      }
    }

    .container__2 {
      margin-top: 10px;
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-self: center;
      text-align: center;

      div {
        width: 22%;

        img {
          width: 100%;
        }
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2vw;

        &:hover {
          color: greenyellow;
          font-weight: 500;
          transition-delay: 300ms;
        }
      }
    }

    .section__index-w {
      @extend .section__index;
      background-color: map-get($map: $bgcolors, $key: 'bgw');

      h2 {
        color: map-get($map: $colorf, $key: 'black');
      }
    }

    .section__index-b {
      @extend .section__index;
      background-color: map-get($map: $bgcolors, $key: 'bgmain');

    }
  }

  // main rest
  .bg__head {
    background-image: url(https://img.uefa.com/imgml/uefacom/uefaeuropaconferenceleague/2020/stats/stats-bg-head-l.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg__vh {
    min-height: 100vh;
  }

  .bg__main-b {
    background-color: rgb(2, 2, 2);

    .header {
      padding: 5px;
      margin-block: 30px;
      display: flex;
      justify-content: center;
      background: linear-gradient(to bottom, #009900, #006600);
      color: white;

      .header__div {
        align-self: center;
        text-align: center;
        overflow: hidden;
        width: auto;
      }
    }
  }
}