// medidas
$ptj:100%;
$hv:100vh;
$wv:100vw;
$px:500px;
// colors
$bgcolors:('bgnavline1': #9c9c9c,
  'bgnavline2': #c7c7c7,
  'bgnavline3':#cfcfcf,
  'bgdrop':rgba(85, 85, 85, 0.875),
  'bgdrophover':green,
  'bgnav2':rgba(43, 43, 43, 0.244),
  'bgmain':rgb(2, 2, 2),
  'bgheaderline1':#009900,
  'bgheaderline2':#006600,
  'bgw':white,
  'bgtrans': transparent,
  'bgbutton':beige,
  'bgbuttonhover':rgb(23, 23, 253),
  'bgresult1':#2cff2c,
  'bgresult2':#288b28,
);
$colorf:('black':black,
  'blue':#004cc7,
  'white':white,
  'gy':greenyellow,
  'green':rgb(25, 105, 25),
  'yellow':yellow, )